{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $myScratch := newScratch }}
{{ $myScratch.Add "path" .Site.BaseURL }}

<div class="breadcrumbs">
  <a href="/home/">Home</a>
  {{ range $index, $element := split $url "/" }}
    {{ $myScratch.Add "path" $element }}
      {{ $myScratch.Add "path" "/" }}
      {{ if ne $element "" | and (ne $element "home") }}
          &raquo; <a href='{{ $myScratch.Get "path" }}'>{{ . | humanize | title }}</a> 
      {{ end }}
  {{ end }}
</div>
