	</div>
		<footer class="footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
			<div class="container container-inner">
				<p class="footer__copyright">&copy; 1995&mdash;<span id="currentYear"></span> {{ .Site.Title }}</p>
			</div>
		</footer>
	</div><!-- .mh-container-outer -->

<script>
	var navigation = responsiveNav(".menu", {
		navClass: "menu--collapse",
	});
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const currentYear = new Date().getFullYear();
        document.getElementById('currentYear').textContent = currentYear;
    });
</script>
</body>
<!-- Built on: {{ time.Now | time.Format "2006-01-02 15:05:05 MST" }} -->
</html>
