name: publish github pages

on:
  push:
    branches:
      - master
  schedule:
      - cron: '0 6 1 1 *'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          persist-credentials: false
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.104.3'
          extended: true

      - name: Fetch GH Pages poornalayam.github.io repo
        # Clean up key folders before building and fetch GH Pages repo into public/
        # Note: CloudFlare Pages will watch for changes in public/ repo and deploy the site
        run: |
          rm -rf public/* /tmp/hugo_cache && \
          git --git-dir public/.git config user.email "${{ secrets.GITEMAIL }}" && \
          git --git-dir public/.git config user.name  "${{ secrets.GITNAME  }}" && \
          git --git-dir public/.git checkout master

      - name: Hugo build
        run: hugo --minify

      - name: Commit and push to GH Pages repo
        run: |
          git --git-dir public/.git add . && \
          git --git-dir public/.git commit -m "rebuilding site `date`" && \
          git --git-dir public/.git push 'https://${{ secrets.GHUSER }}:${{ secrets.GHTOKEN }}@github.com/${{ secrets.GHUSER }}/${{ secrets.GHREPO }}'

      - name: Purge CloudFlare cache
        uses: nathanvaughn/actions-cloudflare-purge@master
        with:
          cf_zone: ${{ secrets.CF_ZONE_ID }}
          cf_auth: ${{ secrets.CF_AUTH_TOKEN }}
